@using PagedListDemo.Common
@model PagedListDemo.Models.Book

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @id = "paged-list-demo-2", @class = "paged-list-demo", @data_bind = "visible: ready", @style = "display: none" }))
{
    @Html.ValidationSummary()
    <div class="filters">
        <h3>Filter by</h3>

        <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <div class="input-group">
                <input data-bind="value: filter().Description" type="text" class="form-control" id="description">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="author">Author</label>
            <div class="input-group">
                <input data-bind="value: filter().Author" type="text" class="form-control" id="author">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="">
                <span class="white-fg">.</span>
            </label>
            <div class="input-group">
                @*<input data-bind="value: filter().Author" type="text" class="form-control" id="author">*@
                <button data-bind="click: getResult" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>

    <span class="text-muted">Using <kbd>data-bind="value: variableName"</kbd> in input element</span>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <span data-bind="click: sort" data-sort-field="@Html.GetJsonPropertyName(x => x.Title)">
                            @Html.DisplayNameFor(x => x.Title)
                        </span>
                        <span data-bind="attr: $root.sortIcon('@Html.GetJsonPropertyName(x => x.Title)')"></span>
                    </th>
                    <th></th>
                    <th></th>
                    <th>
                        <span data-bind="click: sort" data-sort-field="@Html.GetJsonPropertyName(x => x.Description)">
                            @Html.DisplayNameFor(x => x.Description)
                        </span>
                        <span data-bind="attr: $root.sortIcon('@Html.GetJsonPropertyName(x => x.Description)')"></span>
                    </th>
                    <th>
                        <span data-bind="click: sort" data-sort-field="@Html.GetJsonPropertyName(x => x.Author)">
                            @Html.DisplayNameFor(x => x.Author)
                        </span>
                        <span data-bind="attr: $root.sortIcon('@Html.GetJsonPropertyName(x => x.Author)')"></span>
                    </th>
                </tr>
            </thead>

            <tbody data-bind="foreach: entries">
                <tr>
                    <td data-bind="click: $root.selectItem" title="Click to select or unselect">
                        <span data-bind="css: { 'checked': $root.isChecked($data) }" class="glyphicon glyphicon-ok check-mark"></span>
                        @Html.TextBoxFor(x => x.BookId,
                        new
                        {
                            @class = "hidden",
                            data_bind = "value: $root.selectedItem(), checked: $root.selectedItem"
                        })
                    </td>
                    @*<td>
                            <pre data-bind="text: ko.toJSON($root.selectedItem)"></pre>
                            <pre data-bind="text: ko.toJSON($data.id())"></pre>
                            <pre data-bind="text: ko.toJSON($root.selectedItem() == $data.id())"></pre>
                            <pre data-bind="text: ko.toJSON($data)"></pre>
                        </td>*@
                    <td data-bind="text: @Html.GetJsonPropertyName(x => x.Title)"></td>
                    <td data-bind="text: titleLength"></td>
                    <td>
                        <input data-bind="textInput: @Html.GetJsonPropertyName(x => x.Title)" class="form-control" type="text" name="name" />
                    </td>
                    <td data-bind="text: @Html.GetJsonPropertyName(x => x.Description)"></td>
                    <td data-bind="text: @Html.GetJsonPropertyName(x => x.Author)"></td>
                </tr>
            </tbody>

            <tfoot>
                <tr data-bind="visible: !hasEntries()">
                    <td colspan="4">No Results</td>
                </tr>
                <tr data-bind="visible: hasError">
                    <td colspan="4">
                        An Error has occured!
                        Error Code: <span data-bind="text: errorCode"></span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    @Html.KoPagedListPager("~/Views/Shared/_KoPagedListPager.cshtml");

    <div class="pager">
        <button data-bind="enable: validInput" class="btn btn-success" type="submit">Submit</button>
    </div>
}