@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Paged List Demo</h2>

@*@Html.ValidationSummary()*@

<div class="panel">
    <div class="panel-body">
        @Html.Partial("_BooksForm", (PagedListDemo.Models.BooksModel.BooksModel)ViewBag.Book)
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        @Html.Partial("_PagedListDemo1")
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        @*@Html.Partial("_PagedListDemo2")*@
    </div>
</div>

@section scripts {
    @using Newtonsoft.Json

    <script>
        $(function () {
            var viewModel = window.app.VM;

            viewModel.init({
                pagedBooksUrl: '@Url.HttpRouteUrl("BooksPaged", new { })',
                url: '@Url.HttpRouteUrl("DefaultApi", new { controller = "Books" })',
                book: $.parseJSON('@Html.Raw(JsonConvert.SerializeObject(ViewBag.Book))')
            });
            ko.applyBindings(viewModel, $('#books-form')[0]);

            ErrorTooltip.Init(['[type="submit"]', '.save']);
        });
    </script>
}