@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Paged List Demo</h2>

@Html.ValidationSummary()

<div class="panel">
    <div class="panel-body">
        @Html.Partial("_PagedListDemo1")
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        @Html.Partial("_PagedListDemo2")
    </div>
</div>

@section styles {
    @Styles.Render("~/Content/paged-list-demo")
}

@section scripts{
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/knockout-paged-list.js"></script>
    <script src="~/Scripts/PagedListDemo/BooksViewModel.js"></script>
}